.details-container {
    display: flex;
    background-color: #00000067;
    height: 100vh;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 1700px) and (max-width: 2000px) {
        
    }
    
    @media screen and (min-width: 1100px) and (max-width: 1600px) {
        .movie-information {
            color: #fff;
            width: 50%;
            h1 {
                font-size: 3em;
                margin: 50px 30px;
            }
            h3 {
                width: 80%;
                margin: 40px 0px;
                margin-left: 30px;
            }
        }
        .img-details-container {
            margin-right: 100px;
            img {
                border-radius: 10px;
                border: 1px solid #fff;
            }
        }
    }
    
    @media screen and (min-width: 300px) and (max-width: 1099px) {
    
    }
}
