@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('../img/background-movies.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000a6;
    // position:fixed;
    // top:0;
    // right:0;
    // bottom:0;
    // left:0;
    // opacity:0;
    // pointer-events:none;    
}


@media screen and (min-width: 1700px) and (max-width: 2000px) {
    .card {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        a {
            text-decoration: none;
            
        }
    }
}

@media screen and (min-width: 850px) and (max-width: 1600px) {
    .card {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        a {
            text-decoration: none;
            
        }
    }
    
}

@media screen and (min-width: 300px) and (max-width: 849px) {
    .card {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        a {
            text-decoration: none;
            
        }
    }
}