* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/background-movies.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media screen and (min-width: 1700px) and (max-width: 2000px) {
        
}

@media screen and (min-width: 1100px) and (max-width: 1600px) {
}

@media screen and (min-width: 300px) and (max-width: 1099px) {

}